<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="has-sub">
   <a href="javascript:;" class="">
   <i class="fa fa-table fa-fw"></i>
     <span class="menu-text">老年人模块</span>
   <span class="arrow"></span>
   </a>
   <ul class="sub">
      <li><a class="" href="/oldpersoninfolist">
        <span class="sub-menu-text">老年人信息列表</span></a></li>
   </ul>
</li>
<li class="has-sub">
   <a href="javascript:;" class="">
   <i class="fa fa-table fa-fw"></i>
     <span class="menu-text">老年人模块</span>
   <span class="arrow"></span>
   </a>
   <ul class="sub">
      <li><a class="" href="/oldpersonimagelist">
        <span class="sub-menu-text">老年人头像列表</span></a></li>
   </ul>
</li>
<li class="has-sub">
   <a href="javascript:;" class="">
   <i class="fa fa-table fa-fw"></i>
     <span class="menu-text">老年人模块</span>
   <span class="arrow"></span>
   </a>
   <ul class="sub">
      <li><a class="" href="/oldpersonimagelist">
        <span class="sub-menu-text">老年人统计分析</span></a></li>
   </ul>
</li>

</body>
</html>